html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    background-image: url(./img/delo.png);
    background-size: 30rem;
    width: 100%;
    height: 20rem

}


header img {
    border-radius: 100rem;
    margin-top: 2%;
    margin-left: 6%;
    margin-bottom: 2%;
}

@media screen and (max-width:600px) {
    #logo {height: 7rem;
            width: 7rem;}
}

.nav {
    display: flex;
    margin-left: 50%;
    position: relative;
    align-items: flex-end;
    animation-name: navigation;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
  
  .nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav a:hover {
    color: red; /* cambio de color de texto a rojo */
    background-color: violet; /* cambio de color de fondo a violeta */
    font-size: 2.2rem; /* aumento de tamaño de fuente */
    border-radius: 10px; /* suavizado de bordes */
  }

@media screen and (max-width:600px) {
    .nav {align-items: flex-start;}
}

@keyframes navigation {
    
    0% {left: -10rem;}
    100% {left: 0rem}
   
}

section {
    background-image: url(./img/fondodelo.png);
    padding: 2rem;
   
}
section h1{
    display: flex;
    justify-content: center;
    background-color: rgba(17, 16, 16);
    border-radius: 2rem;
    color: white;
    
}

span {color: red;
font-style: italic;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Itim', cursive;
    width: 60%;
    margin: auto;
    padding: 2rem;
    background-image: url(./img/beer3.png);
    background-size: 30rem;
    border-radius: 2rem;
}

.boton {
    width: 20%;
    margin: auto;
    border-radius: 50%;
}

.boton:hover {
    background-color: orangered;
    box-shadow: 2px 2px 10px whitesmoke;

}


footer {
    background-color: black;
    display: flex;
    height: 15rem;
    justify-content: space-between;
}

footer p{
    color: blanchedalmond;
    display: flex;
    font-size: 1.5rem;
    font-family: monospace;
    margin: 1%;
    
}

#insta{
    font-size: 3rem;
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 2rem; 
    margin-right: 8rem;
}

#insta:hover{
    color: orangered;
}


#wpp {
    font-size: 3rem;
    display: flex;
    color: whitesmoke;
    text-decoration: none; 
    margin-top: 2rem;
    margin-right: 8rem;

}

#wpp:hover{
    color: orangered;
}



