html {
    font-size: 62.5%;
}

*{
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    background-image: url(./img/delo.png);
    background-size: 30rem;
    width: 100%;

}


header img {
    border-radius: 100rem;
    margin-top: 2%;
    margin-left: 6%;
    margin-bottom: 2%;
}

@media screen and (max-width:600px) {
    #logo {height: 15%;
            width: 15%;}
}

.nav {
    display: flex;
    margin-left: 60%;
    position: relative;
    align-items: flex-end;
    animation-name: navigation;
    animation-duration: 2s;
    animation-timing-function: linear,
    
}

.nav a{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    
}

.nav a:hover{
    color: orangered;
    background-color: yellow;
    font-size: x-large;
    font-weight: 900;
    height: 4.5rem;
    border-radius: 100%;
    
}

@media screen and (max-width:600px) {
    .nav {align-items: flex-start;}
}

@keyframes navigation {
    
    0% {left: -10rem;}
    100% {left: 0rem}
   
}

section {
    background-color: orangered;
   
}
section h1{
    display: flex;
    justify-content: center;
    background-color: rgba(17, 16, 16);
    border-radius: 2rem;
    color: white;
    
}

span {color: red;
font-style: italic;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

footer {
    background-color: black;
    display: flex;
    height: 15rem;
    justify-content: space-between;
}

footer p{
    color: blanchedalmond;
    display: flex;
    font-size: 1.5rem;
    font-family: monospace;
    margin: 1%;
    
}

#insta{
    font-size: 3rem;
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 2rem; 
    margin-right: 8rem;
}

#insta:hover{
    color: orangered;
}


#wpp {
    font-size: 3rem;
    display: flex;
    color: whitesmoke;
    text-decoration: none; 
    margin-top: 2rem;
    margin-right: 8rem;

}

#wpp:hover{
    color: orangered;
}



